body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.profile,
.win-rate,
.pokemon-list {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
}

.header-button,
.button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  display: block;
  text-align: center;
  margin: 10px 0;
}
